# Build
/dist
/lib
/lib-types
/server
/src/icons

# Development
node_modules

# Cache
.cache
.mf
.vscode
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn
.yarn/*
!.yarn/releases
src/build.d.ts
src/build.test.d.ts
src/casing.test.d.ts
src/entry.dev.d.ts
src/entry.ssr.d.ts
src/root.d.ts
src/components/icon/icon.d.ts
src/types/icon-props.d.ts
